body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 600px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.symptom-box {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}

.checkbox-label {
    display: block;
    margin-bottom: 8px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: green;
    color: white;
    border: none;
    font-size: 16px;
}

.error {
    color: red;
    font-weight: bold;
}

h2 {
    color: green;
    text-align: center;
}